<footer>
	<section class="sectionCopyright">
		<div class="container d-flex align-items-center inner">
			<div class="left d-flex align-items-center">
					<div class="pl-3 copyText">
						{{copyright}}
					</div>
			</div>
			<div class="right ml-auto">
				<div class="menuPrivacy">{{navHtmlPrivacy | raw}}</div>
			</div>
		</div>
	</section>
</footer>

<div class="loader">
<span>Progressing...</span>
</div>
{# <div class="scroll_back_btns" style="display: none;">
	<a href="#" class="back-to-top trans-in"><i class="iconc-back-to-top-arrow"></i></a>
</div> #}